.header_container{
    width: 80%;
    height : 100px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    margin-left: 10%;
    background-color: #f1f3f5;
}

.title{
    margin: 40px;
    display: flex;
    justify-content : center;
    align-items: center;
    font-size: 44px;   
}
.icon{
    margin: 40px;
    display: flex;
    justify-content : center;
    align-items: center;
    font-size: 40px; 
    font-weight: lighter;
}

